<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div>
    <main class="flex flex-col w-[650px]">
      <div class="flex justify-between">
        <form action="/items/search" method="get">
          <input type="search" name="search" id="search">
          <button type="submit">Search</button>
        </form>
        <%- include('errors/error') %>
        <div>
          <a href="/items/new">Add Item</a>
          <a>Sort by</a>
        </div>
      </div>
      <%- include('itemsTable') %>
    </main>
    <%- include('partials/nav') %>
  </div>
  <dialog>
    <form action="/items/new" method="post">
      <h1>New Item</h1>
      <div>
        <label for="itemName">Name</label>
        <input type="text" id="itemName" name="itemName">     
      </div>
      <div>
        <label for="itemDesc">Short Description</label>
        <textarea name="itemDesc" id="itemDesc" class="resize-none"></textarea>
      </div>
      <div>
        <label for="categories">Category</label>
        <select name="categories" id="categories">
          <% if (locals.categories) { %>
           <% categories.forEach(category => { %>
            <option value="<%= category.category_id %>"><%= category.category_name %></option>
           <% }) %>
          <% } %>
        </select>
      </div>
      <div>
        <label for="itemQuantity">Quantity</label>
        <input type="number" name="itemQuantity" id="itemQuantity">
      </div>
      <div>
        <label for="itemValue">Value</label>
        <input type="number" name="itemValue" id="itemValue">
      </div>
      <div>
        <p>Make it one of your favorites</p>
        <input type="radio" name="isFavorite" id="true" value="true">
        <label for="true">Yea</label>

        <input type="radio" name="isFavorite" id="false" value="false">
        <label for="false">Nay</label>
      </div>
      <div>
        <button onclick="closeModal(event)">Close</button>
        <button type="submit">Submit</button>
      </div>
    </form>
  </dialog>
  <script>
    // Check if user requested to open form
    const openForm = Boolean("<%= locals.openForm %>");
    const dialog = document.querySelector("dialog");

    // Open the dialog
    if (openForm) {
      dialog.showModal();
    }

    const closeModal = (event) => {
      event.preventDefault()
      dialog.close();
    }
  </script>
</body>
</html>