<div class="w-full">
  <table class="w-full border-collapse">
    <caption>
      Items
    </caption>
    <tr>
      <th class="text-left pb-6">Name</th>
      <th class="text-right pb-2 md:pb-6">Type</th>
      <th class="text-right pb-2 md:pb-6">Value</th>
      <% if (locals.isItems) { %> 
       <th class="text-right pb-2 md:pb-6">Actions</th>
      <% } %>
    </tr>
    <% items.forEach(item => { %>
     <tr id="<%= item.item_id %>" class="hover:bg-gradient-to-r from-[#4c4d4d0a] via-[#a4b4b100] to-[#e5e5cb] hover:from-[#b4c5bb00] hover:via-[#cad6c38f] hover:to-[#8d8d7e] p-4 rounded-lg md:text-[12px] slg:text-lg lg:text-lg">
      <% const quantity = item.quantity > 1 ? `(${item.quantity})` : " " %>
      <th class="text-left lg:pb-2 md:pb-6" data-item="item" data-name="<%= item.item_name %>" data-description="<%= item.description %>" data-category="<%= item.category_name %>" data-value="<%= item.value %>"><%= item.item_name %> <%= quantity%></th>
      <th class="text-right lg:pb-2 md:pb-6" data-item="item" data-name="<%= item.item_name %>" data-description="<%= item.description %>" data-category="<%= item.category_name %>" data-value="<%= item.value %>"><%= item.category_name%></th>
      <th class="text-right lg:pb-2 md:pb-6" data-item="item" data-name="<%= item.item_name %>" data-description="<%= item.description %>" data-category="<%= item.category_name %>" data-value="<%= item.value %>"><%= item.value %></th>
      <% if (locals.isItems) { %>
       <th class="text-right lg:pb-2 md:pb-6">
        <a href="/items/edit/<%= item.item_id %>">
          <img src="/edit.svg" alt="Edit icon" title="Edit message button" class="w-7 md:w-5">
        </a>
        <a href="/items/delete/<%= item.item_id %>">
          <img src="/delete.svg" alt="Delete icon" title="Delete message icon" class="w-7 md:w-5">
        </a>
       </th>
      <% } %>
     </tr>
    <% }) %>
  </table>
</div>