<% if (locals.openNewForm) { %>
  <form action="/items/new" method="post" class="flex flex-col p-4 gap-4 md:w-[80vw] lg:w-[20vw] xl:h-auto md:h-[60vh] md:text-sm">
    <h1 class="text-center">New Item</h1>
    <div class="flex flex-col">
      <label for="itemName">Name<span class="text-red-900">*</span></label>
      <input type="text" id="itemName" name="itemName" type="submit" class="p-2 text-lg sm:text-sm">     
    </div>
    <div class="flex flex-col">
      <label for="itemDesc">Short Description</label>
      <textarea name="itemDesc" id="itemDesc" class="resize-none p-2 text-lg sm:text-sm" type="submit"></textarea>
    </div>
    <div class="flex flex-col">
      <label for="categories">Category</label>
      <select name="categories" id="categories" class="p-2 text-lg sm:text-sm">
        <% if (locals.categories) { %>
        <% categories.forEach(category => { %>
          <option value="<%= category.category_id %>"><%= category.category_name %></option>
        <% }) %>
        <% } %>
      </select>
    </div>
    <div class="flex flex-col">
      <label for="itemQuantity">Quantity</label>
      <input type="number" name="itemQuantity" id="itemQuantity" type="submit" class="p-2 text-lg sm:text-sm">
    </div>
    <div class="flex flex-col">
      <label for="itemValue">Value<span class="text-red-900">*</span></label>
      <input type="number" name="itemValue" id="itemValue" type="submit" class="p-2 text-lg sm:text-sm">
    </div>
    <div class="flex flex-col">
      <p>Make it one of your favorites?<span class="text-red-900">*</span></p>
      <div class="flex justify-around">
        <div>
          <input type="radio" name="isFavorite" id="true" value="true" type="submit">
          <label for="true">Yea</label>
        </div>

        <div>
          <input type="radio" name="isFavorite" id="false" value="false" type="submit">
          <label for="false">Nay</label>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <a href="/items" class="p-2 border text-center no-underline text-black bg-tertiary text-lg">Close</a>
      <button type="submit" class="p-2 border cursor-pointer text-lg text-last bg-secondary mb-4">Submit</button>
    </div>
    <%- include('errors/newItemError') %>
  </form>
<% } %>

<% if (locals.openEditForm) { %>
  <form action="/items/edit/<%= itemToEdit.item_id %>" method="post" class="flex flex-col p-4 gap-4 md:w-[80vw] xl:h-auto md:h-[60vh] lg:w-[20vw] md:text-sm">
    <h1>Edit <%= itemToEdit.item_name %></h1>
    <div class="flex flex-col">
      <label for="itemName">Name</label>
      <input type="text" id="itemName" name="itemName" type="submit" value="<%= itemToEdit.item_name %>" class="p-2 text-lg sm:text-sm">     
    </div>
    <div class="flex flex-col">
      <label for="itemDesc">Short Description</label>
      <textarea name="itemDesc" id="itemDesc" class="resize-none" type="submit" class="p-2 text-lg sm:text-sm">
        <%= itemToEdit.description %>
      </textarea>
    </div>
    <div class="flex flex-col">
      <label for="categories">Category</label>
      <select name="categories" id="categories" class="p-2 text-lg sm:text-sm">
        <% if (locals.categories) { %>
        <% categories.forEach(category => { %>
          <% if (category.category_id === itemToEdit.category_id) { %>
            <option selected value="<%= category.category_id %>"><%= category.category_name %></option>
          <% } else { %>
            <option value="<%= category.category_id %>"><%= category.category_name %></option>
          <% } %>
          <% }) %>
        <% } %>
      </select>
    </div>
    <div class="flex flex-col">
      <label for="itemQuantity">Quantity</label>
      <input type="number" name="itemQuantity" id="itemQuantity" type="submit" value="<%= itemToEdit.quantity %>" class="p-2 text-lg">
    </div>
    <div class="flex flex-col">
      <label for="itemValue">Value</label>
      <input type="number" name="itemValue" id="itemValue" type="submit" value="<%= itemToEdit.value %>" class="p-2 text-lg">
    </div>
    <div class="flex flex-col">
      <p>Make it one of your favorites</p>
      <div class="flex justify-around">
        <div>
        <% if (itemToEdit.is_favorite === true) { %>
            <input type="radio" name="isFavorite" id="true" value="true" type="submit" checked>
          <% } else { %>
            <input type="radio" name="isFavorite" id="true" value="true" type="submit">
            <% } %>
            <label for="true">Yea</label>
        </div>
        <div>
          <% if (itemToEdit.is_favorite === false) { %>
            <input type="radio" name="isFavorite" id="false" value="false" type="submit" checked>
          <% } else {%>
            <input type="radio" name="isFavorite" id="false" value="false" type="submit">
          <% } %>
            <label label for="false">Nay</label>
          </div>
        </div>
    </div>
    <div class="flex flex-col gap-4">
      <a href="/items" class="p-2 border text-center no-underline text-black bg-tertiary text-lg">Close</a>
      <button type="submit" class="p-2 border cursor-pointer text-lg text-last bg-secondary mb-4">Submit</button>
    </div>
    <%- include('errors/editItemError') %>
  </form>
<% } %>