<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div>
    <main class="flex flex-col w-[650px]">
      <div class="flex justify-between">
        <form action="/items/search" method="get" class="flex gap-1">
          <input type="search" name="search" id="search">
          <button type="submit">Search</button>
          <%- include('errors/searchError') %>
        </form>
        <div>
          <a href="/items/new">Add Item</a>
          <a>Sort by</a>
        </div>
      </div>
      <%- include('itemsTable') %>
    </main>
    <%- include('partials/nav') %>
  </div>
  <dialog>
    <% if (locals.openNewForm || locals.openEditForm) { %>
      <%- include('itemForms') %>
    <% } else if (locals.openDeleteDialog) {%>
      <div>
        <p>Are you sure you want to delete item <span class="font-bold"><%= itemToDelete.item_name %></span>?</p>
        <div class="flex gap-2">
          <a href="/items">Nevermind</a>
          <form action="/items/delete/<%= itemToDelete.item_id %>" method="post">
            <button type="submit">Yes</button>
          </form>
        </div>
      </div>
    <% } %>
  </dialog>
  <script>
    // Check if user requested to open form
    const openForm = Boolean("<%= locals.openNewForm %>") || Boolean("<%= locals.openEditForm %>") || Boolean("<%= locals.openDeleteDialog %>");
    const dialog = document.querySelector("dialog");

    // Open the dialog
    if (openForm) {
      dialog.showModal();
    }

    const closeModal = (event) => {
      event.preventDefault()
      dialog.close();
    }
  </script>
</body>
</html>